@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=EB+Garamond&family=Roboto+Slab&display=swap');

:root {
    --nav-margin: 7vw;
    --skew: skewY(-3deg);

    --color-1: #965de9;
    --color-2: #febf12;
    --primary-red: #fc006e;
    --hover-color: #6258ee27;
    --bg-color: #A7EDE7;

    --title-1:'DM Serif Display', serif;
    --title-2: 'EB Garamond', serif;
    --desc-1:'Roboto Slab', serif;
}
@media (max-width: 992px) {
    :root{
        --nav-margin: 5vw;
    }
}

@media (max-width: 576px) {
    .hidden-xs{
        display: none;
    }
    :root{
        --skew: skewY(-5deg);
    }
}

.spacer{
    height: 11rem;
}

/* Removing few designs */
button {
    outline: none;
    text-decoration: none;
    border: 0;
    background: transparent;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Adding and removing elements with scroll */
.scroll-hide {
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease-in-out;
}
.scroll-reveal{
    opacity: 1;
    transform: translateY(0);
}

/* Navigation Styles ***********************************************/
.logo{
    width: 290px;
    height: 70px;
    background: url("../img/logo.png") center / cover;
    margin-left: var(--nav-margin);
    cursor: pointer;
}
@media (max-width: 992px) {
    .logo{
        height: 50px;
        width: auto;
        aspect-ratio: 559/243;
        background-image: url(../img/logo2.png);
    }
}

/* Navigation button for small screens */
.navbar-toggler{
    margin-right: var(--nav-margin);
}
.navbar-toggler:focus{
    box-shadow: none;
}

#collapseContent #nav-list{
    justify-content: end;
    gap: 15px;
}

.nav-item, .dropdown-item{
    margin: 0;
    color: var(--color-1);
    font-family: var(--desc-1);
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 16px;
}

#nav-list .nav-item:last-child{
    margin-right: var(--nav-margin);
}
.nav-item:hover {
    background-color: var(--hover-color);
    color: #000;
}
.dropdown-item:hover {
    background: none;
    background-color: var(--hover-color);
}

@media (max-width: 768px) {
    .logo{
        height: 40px; /* No need for width as aspect ratio is maintained */
    }

    .nav-item{
        width: fit-content;
        margin-bottom: 10px;
    }
    
    #nav-list{
        margin-top: 20px;
        margin-bottom: 10px;
        padding-left: calc(var(--nav-margin) - 10px);
    }
    
    .dropdown-menu{
        border: 0;
        padding: 0;
    }

    #nav-list li:last-child{
        margin-bottom: 0px;
    }
}

.active-tab {
    background-color: var(--hover-color);
    color: #000;
}
/* Navigation Styles End */

/* CTA Button *******************************************************/
.btn-main {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 1.5rem;
    border-radius: 1.5rem;
    background: #292158;
    background-size: 400%;
    color: #fff;
    border: none;
    width: auto;
    margin: 0 auto;
    z-index: 1;
}

.btn-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient( 82.3deg, var(--color-1) 10.8%, #6358ee 94.3% );
    transition: all 0.475s;
}

.btn-main:hover::before {
    transform: scaleX(1);
}

.btn-content {
    position: relative;
    z-index: 1;
}
/* CTA Button End */

/* Skewed Background *********************************************/
.skew-bg {
    position: relative;
}

.skew-bg > * {
    z-index: 1;
}

.skew-bg::before {
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    inset: -10% 0 -10% 0;
    transform: var(--skew);
    z-index: -1;
}
/* Skewed Background End */

/* Banner **********************************************************/
#banner{
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../img/banner.jpg") no-repeat fixed center / cover;
    color: #fff;
    position: relative;
    overflow: hidden;
}
#banner::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    z-index: 0;
    background: transparent;
    backdrop-filter: blur(2px);
}

#banner-title{
    max-width: 90vw;
    font-size: 5rem;
    font-family: var(--title-1);
    text-align: center;
    z-index: 1;
}

#banner-desc{
    font-size: 1.5rem;
    width: 50%;
    font-weight: lighter;
    text-align: center;
    z-index: 1;
}

@media (max-width: 768px) {
    #banner-title{
        font-size: 4rem;
    }
    #banner-desc{
        font-size: 20px;
    }
}
/* Banner End */

/* Footer ************************************************************/
footer {
    padding: 15rem 0 1rem 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
footer::before {
    content: '';
    width: 100vw;
    height: 110%;
    background: linear-gradient(3deg, var(--color-1) 0%, var(--bg-color) 70%);
    position: absolute;
    top: calc(0.053*100vw);
    right: 0;
    z-index: -1;
    transform: var(--skew);
}

#footer-container {
    width: clamp(800px, 80%, 950px);
    margin: 0 auto;
    padding-bottom: 10rem;
    display: grid;
    align-items: center;
    row-gap: 1rem;
    column-gap: 5rem;
    grid-template-columns: 1fr 120px 250px;
    grid-template-areas:
    'h b d'
    'h c d';
    /* Areas given in HTML */
}
@media (max-width:830px) {
    #footer-container{
        width: min(600px, 90%);
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
        grid-template-areas: 
        'h h'
        'b d'
        'c d';
        justify-items: center;
    }
    #footer-container #footer-logo {
        margin: 0 auto 1rem;
    }
}

#footer-logo {
    grid-area: h;
    height: 100px;
    aspect-ratio: 371 / 201;
    margin: auto 0;
    background: url(../img/footer-logo.png) no-repeat center / cover;
}

#footer-container > .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#footer-container > .contacts > i {
    width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid gray;
    position: relative;
    font-size: 30px;
}
#footer-container > .contacts > i::before {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}

#footer-content > h3{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: var(--title-2);
}

#footer-content > ul {
    list-style: none;
    font-family: var(--desc-1);
    line-height: 30px;
    padding-left: 0.8rem;
    margin-bottom: 20px;
}
/* Footer End */
