:root {
    --primary-color: #e0b434;
    --nav-margin: 7vw;
    --color-3: #de1283;
    --color-2: #27ab9e;
    --color-1: #e0b434;
    --color-4: #7b43d4;
}

button {
    outline: none;
    text-decoration: none;
    border: 0;
    background: transparent;
}

.spacer{
    height: 150px;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Add elements with scroll */
.scroll-hide {
    position: relative;
    opacity: 0;
    transform: translateY(150px);
    transition: all .5s ease-in-out;
}
.scroll-reveal{
    opacity: 1;
    transform: translateY(0);
}

/* Navigation Styles ***********************************************/
header{
    background-color: var(--color-4);
}

.logo{
    width: 60px;
    height: 60px;
    background: url("../img/logo.png") center / cover;
    margin-left: var(--nav-margin);
    margin-right: 15px;
}

.navbar-toggler{
    margin-right: var(--nav-margin);
}
.navbar-toggler:focus{
    box-shadow: none;
}

.brand-name{
    width: fit-content;
    display: inline;
    font-family: 'DM Serif Display', serif;
    color: var(--color-1);
    font-size: 25px;
    letter-spacing: 3px;
}

#collapseContent ul{
    justify-content: end;
}

.nav-item, .dropdown-item{
    /* width: fit-content; */
    margin: auto 10px;
    color: var(--color-1);
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
}

ul .nav-item:last-child{
    margin-right: var(--nav-margin);
}
.nav-item:hover {
    /* border-bottom: 2px solid #000; */
    color: #000;
}
.dropdown-item:hover {
    background: none;
}
/* Navigation Styles End */

/* CTA Button *******************************************************/
.cta-btn {
    color: var(--color-3);
    border: 2px solid var(--color-3);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
}
.cta-btn:hover {
    color: #fff;
    background-color: var(--color-3);
}
/* CTA Button End */

/* Banner **********************************************************/
#banner{
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../img/banner.jpg") no-repeat fixed center / cover;
    filter: opacity(0.8);
    color: #fff;
}

#banner-title{
    font-size: 60px;
    text-align: center;
}

#banner-desc{
    font-size: 25px;
    width: 50%;
    text-align: center;
}
/* Banner End */

/* Story *********************************************************/
#story {
    height: 600px;
    padding-right: var(--nav-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background-color: #967ac3;
    border-radius: 50px;
}

#story-title{
    font-size: 40px;
    /* border-bottom: 2px solid #000; */
    margin-bottom: 20px;
    position: relative;
}

#story-txt {
    width: 70%;
    text-align: right;
    font-size: 20px;
}

#story-title::before{
    content: '';
    position: absolute;
    width: 200%;
    height: 1.5px;
    background-color: #000;
    right: 0;
    bottom: 0;
}
/* Story End */

/* Industry ******************************************************/
#industry-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#industry-container h3 {
    font-size: 50px;
    text-align: center;
    display: block;
}
#industry-container p {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
    display: block;
}

#industry{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
    column-gap: 20px;
    width: 100%;

    .card {
        position: relative;
        width: 250px;
        height: 300px;
        /* color: #2e2d31;
        background: #131313; */
        overflow: hidden;
        border-radius: 20px;
    }
    
    .temporary_text img{
        width: 100%;
        object-fit: contain;
    }
    
    .card_content {
        position: absolute;
        top: 75px;
        left: 0;
        bottom: 0;
        /* edit the width to fit card */
        width: 100%;
        padding: 20px;
        background: var(--color-1);
        border-top-left-radius: 20px;
        /* edit here to change the height of the content box */
        transform: translateY(160px);
        transition: transform .25s;
    }
    
    .card_content::before {
        content: '';
        position: absolute;
        top: -47px;
        right: -45px;
        width: 100px;
        height: 100px;
        transform: rotate(-175deg);
        border-radius: 50%;
        box-shadow: inset 48px 48px var(--color-1);
    }
    
    .card_title {
        font-size: 25px;
        font-weight: 500;
        color: #131313;
        line-height: 15px;
    }
    
    .card_subtitle {
        display: block;
        font-size: 12px;
        /* margin-bottom: 10px; */
    }
    
    .card_description {
        margin-top: 7px;
        font-size: 14px;
        opacity: 0;
        transition: opacity .5s;
    }
    
    .card:hover .card_content {
        transform: translateY(0);
    }
    
    .card:hover .card_description {
        opacity: 1;
        transition-delay: .25s;
    }      
}
/* Industry End */

/* Services ********************************************************/
/* h3 designed in industry */
#services h3 {
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
}

#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 15px;
    /* column-gap: 10px; */
    width: 100%;

    .card {
        width: 300px;
        height: 200px;
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        border-radius: 8px;
        color: white;
        overflow: hidden;
        position: relative;
        transform-style: preserve-3d;
        perspective: 1000px;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
        cursor: pointer;
    }
    
    .card-content {
        padding: 20px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }
    
    .card-content .card-title {
        font-size: 24px;
        font-weight: 700;
        color: inherit;
        text-transform: uppercase;
    }
    
    .card-content .card-para {
        color: inherit;
        opacity: 0.8;
        font-size: 14px;
    }
    
    .card:hover {
        transform: rotateY(10deg) rotateX(10deg) scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
        transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
        z-index: 1;
    }
    
    .card:hover:before {
        transform: translateX(-100%);
    }
    
    .card:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
        transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
        z-index: 1;
    }
    
    .card:hover:after {
        transform: translateX(100%);
    }      
}
/* Services End */

/* Case Study **********************************************************/
#case-study {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 15px;
    column-gap: 20px;
    width: 100%;

    .card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        min-width: 320px;
        max-width: 450px;
        background-color: #000;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        padding: 32px;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        color: #e8e8e8;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
        z-index: 1;
    }

    .content .heading {
        font-weight: 700;
        font-size: 32px;
    }

    .content .para {
        line-height: 1.5;
    }

    .content .btn {
        color: #e8e8e8;
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .card::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
        z-index: 0;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    }

    .card:hover::before {
        height: 100%;
    }

    .card:hover {
        box-shadow: none;
    }

    .card:hover .btn {
        color: #212121;
        background: #e8e8e8;
    }

    .content .btn:hover {
        outline: 2px solid #e8e8e8;
        background: transparent;
        color: #e8e8e8;
    }

    .content .btn:active {
        box-shadow: none;
    }
}
/* Case Study End */

/* Footer ************************************************************/
footer {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: var(--color-4);
    position: relative;
    background: linear-gradient(0deg, var(--color-4) 0%, royalblue 100%);
}

footer h3{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#contact {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

footer .socials{
    /* width: 30%; */
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    gap: 30px;
}
footer .socials i{
    font-size: 1.5em;
}

.socials>a {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Contact form */
#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;

}

#contact-form h4 {
    width: 50vw;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
}

#mail-id, #mail-sub, #mail-desc{
    border: 0;
    border-radius: 10px;
    outline: none;
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 16px;
    background: #4e4747;
    color: #fff;
    width: 50vw;
}

#mail-btn{
    background: transparent;
    padding: 5px 15px;
    color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

#mail-btn::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    transform: translateX(-100%);
    z-index: -1;
    transition: all .3s ease-in-out;
}

#mail-btn:hover::before{
    transform: translateX(0);
}
/* Footer End */

/*******************************************************************/

/************ XL Devices ************/
@media (max-width: 1400px) {

}

/************ LG Devices ************/
@media (max-width: 1200px) {

}

/************ MD Devices ************/
@media (max-width: 992px) {

}

/************ SM Devices ************/
@media (max-width: 768px) {
    /* Navigation */
    .nav-item{
        width: fit-content;
        /* margin-left: 35px; */
        margin-bottom: 10px;
    }
    
    #nav-list{
        margin-top: 20px;
        margin-bottom: 10px;
        padding-left: calc(var(--nav-margin) - 10px);
    }
    
    .dropdown-menu{
        border: 0;
        padding: 0;
    }

    #nav-list li:last-child{
        margin-bottom: 0px;
    }
    /* Navigation End */
}

/************ XS Devices ************/
@media (max-width: 576px) {
    .hidden-xs{
        display: none;
    }
    
    /* footer */
    footer .socials{
        flex-direction: row;
    }
    
    #contact-form h4, #mail-id, #mail-sub, #mail-desc{
        width: 85vw;
    }
    /* footer end */
}


